*{
    box-sizing: border-box;
}
body{
    background:radial-gradient(#eebe91c7, rgba(233, 144, 61, 0.842)) fixed;
    text-align: center;
    
}
section div{
    width:24%;
    float: left;
    padding:30px;
    color:rgb(69, 92, 63);
   font-family: Bradley Hand, cursive;
}

section div img {
    border:5px solid rgb(69, 92, 63);
    border-radius: 20%;
    width:110%;
    padding:2px;
    height:250px;
    text-align: center;


    
}
h1 {
    text-align: center;
    color:rgb(69, 92, 63); 
    font-family: Bradley Hand, cursive;
    font-size:50px ;
}


/* table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 3px 10px;
} */